.ui-tooltip {
	max-width: 700px !important;
	padding: 4px;
}

.hover-link {
	color: black !important;
	text-decoration: none;
	bottom-border: 2px dotted #4051b5;
}

.hover-link:hover {
	color: #4051b5 !important;
}